*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-width: 1060px;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: Roboto, Avenir, sans-serif;
}
.container,
.container-float {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-float::after {
  display: block;
  content: "";
  clear: both;
}

.logo {
  position: absolute;
  padding-left: inherit;
  top: -24px;
  left: 0;
  margin: 0;
}
.nav {
  text-align: right;
}
.list-item {
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
}
.list-item > a {
  color: white;
  display: block;
  padding: 10px;
  text-transform: uppercase;
}
.list-item > a:hover {
  color: #c9f0dd;
}

.list {
  margin: 0;
  font-size: 0;
}

.header {
  background: #0c4b33;
  height: 72px;
  padding: 15px 0 4px;
}
a {
  text-decoration: none;
}
.hero-scetion {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid #cfe3dc;
}
.intro-desc {
  width: 700px;
  font-weight: 300;
  font-size: 2.2rem;
  margin: 40px auto 50px;
  line-height: 1.3;
}

.main-content {
  float: left;
  width: 70%;
}
.cta {
  display: block;
  color: white;
  width: 300px;
  margin: 0 auto 60px;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 20px 45px;
  border-radius: 8px;
  background: #44b78b;
}
.mailing-layout {
  display: inline-flex;
}
.main-title {
  color: #0c3c26;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -1px;
}
.main-desc {
  font-size: 0.9rem;
}
.maillng {
  float: left;
  width: 49%;
}
.maillng:first-child {
  margin-right: 4%;
}
.mailling-title {
  color: #20aa76;
  font-size: 1.4rem;
  margin: 0;
  font-weight: 500;
}
.mailling-desc {
  font-size: 0.9rem;
  margin: 5px 0;
}
.mailling-form {
  margin: 10px 0 30px;
  position: relative;
}
.mailling-form > label {
  display: none;
}
.strong {
  color: #20aa76;
}
.form {
  margin-bottom: 20px;
}

.cta:hover {
  background: #51be95;
}
input[type="email"] {
  width: 100%;
  border: 1px solid #cfe3dc;
  border-radius: 3px;
  height: 2.8rem;
  font-size: 1rem;
  padding: 0 83px 0 0;
}

.mailling-form-btn {
  position: absolute;
  top: 14px;
  right: 0;
  border: 0;
  background: transparent;
  color: #44b89b;
  font-size: 1.4rem;
  cursor: pointer;
}
.mailling-form-btn:hover {
  color: #0c4b33;
}

/* SIDE CONTENT */
.side-content {
  float: right;
  width: 30%;
  margin: 0;
  padding: 0 0 30px 20px;
  border-left: 1px solid #cfe3dc;
}
.side-content a:hover {
  color: #25c488;
}
.cta.side-cta:hover {
  color: white;
}
.container-side-cta {
  text-align: center;
}
.side-cta {
  width: 330px;
  padding: 16px 24px;
  margin: 40px auto 0;
}
.side-cta em {
  font-style: normal;
  color: #c9f0dd;
}
.more {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #20aa76;
}
.more::after {
  content: " >";
}
.infos {
  margin-bottom: 40px;
}
.infos-title {
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #cfe3dc;
  margin: 3.5rem 0 0 0;
  padding-bottom: 1rem;
}
.news-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.6rem;
}
.news-title > a,
.community-title > a {
  color: #20aa76;
}
.news-article {
  padding: 20px 0;
}
.news-desc {
  font-size: 1.5rem;
}
.news-meta {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #859d94;
}
.news-meta > span {
  font-weight: 700;
}
.list-communities {
  padding: 20px 0;
  margin: 0;
}
.community-title {
  font-size: 1.4rem;
}
.community-title:nth-child(n + 2) {
  margin-top: 14px;
}
.community-desc {
  margin: 10px 0 0 0;
  font-size: 1.4rem;
  color: #859d94;
}
.content-info {
  background: green;
}

.links {
  background: lightgreen;
}

/* FOOTER */
.footer {
  background: #0c4b33;
  padding: 10px 0 30px;
}
.footer a {
  color: inherit;
}
.copyright {
  font-size: 1.2rem;
  color: #2b8c67;
}
.copyright a {
  text-decoration: underline;
}
